<div class="mt-4">
  <h3>Cập nhập sản phẩm</h3>
  <form method="POST" action="/product/{{product._id}}?_method=PUT">

    <div class="form-group">
      <label for="description">Mô tả</label>
      <input
        type="text"
        class="form-control"
        value="{{product.description}}"
        id="description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="name">tên sp</label>
      <input type="text" class="form-control"  value="{{product.name}}" id="name" name="name" />
    </div>

    <div class="form-group">
      <label for="img">link ảnh</label>
      <input type="text" class="form-control" value="{{product.img}}" id="img" name="img" />
    </div>

    {{!-- <div class="form-group">
      <label for="role">trường</label>
      <input type="text" class="form-control" value="product.name" id="role" name="role" />
    </div> --}}

    <div class="form-group">
      <label for="price">giá</label>
      <input type="text" class="form-control" value="{{product.price}}" id="price" name="price" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
  </form>
</div>